* {
    margin: 0px;
    font-family: "Libertinus Serif", serif;
}
.split-screen {
    display: flex;
    height: 100vh;
}
.input-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
}
textarea {
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    height: 60%;
    font-size: 12pt;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 1.2em;
}
.render {
    flex: 1;
    padding-left: 10px;
    background-color: #fff;
    overflow-y: scroll;
}
.render span,
.render b,
.render i,
.render p,
.render a{
    display: block;
}

.quote{
    padding: 5px 0px 5px 25px;
    background-color: #ddd;
}


@media screen and (max-width: 600px) {
    .split-screen {
        flex-direction: column;
    }
    .input-area {
        height: 50%;
        order: 2;
    }
    .render {
        height: 50%;
        order: 1;
    }
}

@media print {
    .input-area {
        display: none;
    }
}